TelefQuito_Server/01.SERVIDOR/TELFQUITO_SOAP_JAVA/src/wsdl/localhost_8080/BANQUITO_SOAP_JAVA/WSGenerarTabla.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3.payara-p1 (metro-4.0.3.payara-maintenance-004e4e3; 2023-11-08T12:59:53+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#004e4e3. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3.payara-p1 (metro-4.0.3.payara-maintenance-004e4e3; 2023-11-08T12:59:53+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#004e4e3. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.monster.edu.ec/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.monster.edu.ec/" name="WSGenerarTabla">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.monster.edu.ec/" schemaLocation="http://localhost:8080/BANQUITO_SOAP_JAVA/WSGenerarTabla?xsd=1"/>
</xsd:schema>
</types>
<message name="consultarTablaAmortizacion">
<part name="parameters" element="tns:consultarTablaAmortizacion"/>
</message>
<message name="consultarTablaAmortizacionResponse">
<part name="parameters" element="tns:consultarTablaAmortizacionResponse"/>
</message>
<message name="consultarCreditosPorCedula">
<part name="parameters" element="tns:consultarCreditosPorCedula"/>
</message>
<message name="consultarCreditosPorCedulaResponse">
<part name="parameters" element="tns:consultarCreditosPorCedulaResponse"/>
</message>
<message name="crearCreditoYTablaAmortizacion">
<part name="parameters" element="tns:crearCreditoYTablaAmortizacion"/>
</message>
<message name="crearCreditoYTablaAmortizacionResponse">
<part name="parameters" element="tns:crearCreditoYTablaAmortizacionResponse"/>
</message>
<portType name="WSGenerarTabla">
<operation name="consultarTablaAmortizacion">
<input wsam:Action="http://ws.monster.edu.ec/WSGenerarTabla/consultarTablaAmortizacionRequest" message="tns:consultarTablaAmortizacion"/>
<output wsam:Action="http://ws.monster.edu.ec/WSGenerarTabla/consultarTablaAmortizacionResponse" message="tns:consultarTablaAmortizacionResponse"/>
</operation>
<operation name="consultarCreditosPorCedula">
<input wsam:Action="http://ws.monster.edu.ec/WSGenerarTabla/consultarCreditosPorCedulaRequest" message="tns:consultarCreditosPorCedula"/>
<output wsam:Action="http://ws.monster.edu.ec/WSGenerarTabla/consultarCreditosPorCedulaResponse" message="tns:consultarCreditosPorCedulaResponse"/>
</operation>
<operation name="crearCreditoYTablaAmortizacion">
<input wsam:Action="http://ws.monster.edu.ec/WSGenerarTabla/crearCreditoYTablaAmortizacionRequest" message="tns:crearCreditoYTablaAmortizacion"/>
<output wsam:Action="http://ws.monster.edu.ec/WSGenerarTabla/crearCreditoYTablaAmortizacionResponse" message="tns:crearCreditoYTablaAmortizacionResponse"/>
</operation>
</portType>
<binding name="WSGenerarTablaPortBinding" type="tns:WSGenerarTabla">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="consultarTablaAmortizacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarCreditosPorCedula">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearCreditoYTablaAmortizacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSGenerarTabla">
<port name="WSGenerarTablaPort" binding="tns:WSGenerarTablaPortBinding">
<soap:address location="http://localhost:8080/BANQUITO_SOAP_JAVA/WSGenerarTabla"/>
</port>
</service>
</definitions>